body {
    /* background-color: white; */
    /* color: #030303; */
    background-color: rgb(221, 249, 255);
    color: black;
    font-family: "Roboto", "Arial", sans-serif;
    min-width: 400px;
    --var-blur: 0.5;
    --var-refraction: 0.6;
}

body.dark {
    /* background-color: #222121; */
    background-color: rgb(69, 53, 139);
    color: #ffffff;
}

.dark-mode {
    color: #030303;
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 50px;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

body.dark .dark-mode {
    color: white;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

p {
    cursor: default;
}

input {
    background-color: inherit;
    color: inherit;
}

body.dark input {
    border-color: white;
}

#update {
    margin-top: 20px;
    width: fit-content;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

p {
    cursor: default;
}

input {
    background-color: inherit;
    color: inherit;
}

body.dark input {
    border-color: white;
}

.card {
    width: 90%;
    margin: auto;
    padding: 4%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title>* {
    display: block;
}

summary>h4 {
    width: 100%;
    cursor: pointer;
    display: inline;
}

.glass-card {
    background: rgba(255, 255, 255, calc(0 + var(--var-refraction)));
    backdrop-filter: blur(calc(50px * var(--var-blur))) saturate(1.2);
    -webkit-backdrop-filter: blur(calc(50px * var(--var-blur)));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, calc(var(--var-refraction) * 0.3));
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 32px,
        rgba(0, 0, 0, 0.05) 0px 2px 8px,
        rgba(255, 255, 255, calc(0.05 + calc(var(--var-refraction) * 0.5))) 0px 1px 0px inset,
        rgba(255, 255, 255, calc(0.05 + calc(var(--var-refraction) * 0.1))) 0px -1px 0px inset;
    position: relative;
    overflow: hidden;
    background-clip: padding-box;
}

.input-switch {
    margin: 20px 0px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.input-switch label {
    display: block;
    font-weight: bold;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.card {
    background-color: rgb(225, 197, 255) !important;
    background-image: linear-gradient(315deg, rgba(225, 197, 255, var(--var-refraction)) 0%, rgba(102, 96, 167, var(--var-refraction)) 74%) !important;
}

body.dark .card {
    background-color: rgb(102, 96, 167) !important;
    background-image: linear-gradient(315deg, rgba(102, 96, 167, var(--var-refraction)) 0%, rgba(69, 53, 139, var(--var-refraction)) 74%) !important;
}